{% extends 'dogfeed/common/header.html' %}
{% block content %}
{% if user.is_authenticated %}

<div class="row">
    <div class="medium-6 columns medium-push-6">
    
    </div>
    <div class="medium-6 columns medium-pull-6">
        <h1 class="straight"><ul><li id = 'mydog'>  
        {% for dog in dog_names%}
            {{ dog.name }}<br>
        {% endfor %}
        </li><li> 식사 현황</li></ul></h1>
    <div>
    {% autoescape off %}
        {{plot_div}}
    {% endautoescape %}
    </div>
    </div>
</div>

<hr>
{%else%}
<div class="row">
    <div class="medium-6 columns medium-push-6">
    </div>
    <div class="medium-6 columns medium-pull-6">
    <h2>권한이 없습니다</h2>    
        <p>로그인을 하고 다시 접속해주세요.<p>
    </div>
</div>
{%endif%}
{% endblock %}