{% extends 'dogfeed/common/header.html' %}
{% block content %}

<div class="callout medium">
    <div class="row column text-center">
    <h1>PARS</h1>   
    <p class="lead">The best way to protect our companion pets.</p>
    </div>
</div>

<div class="row">
    <div class="medium-6 columns medium-push-6">
    
    </div>
    <div class="medium-6 columns medium-pull-6">
   <!-- <h2>우리개 보기</h2>-->
      <div id='stream'>
            <object type="text/html" data="http://220.67.124.193:11056/" width="362px" height="298px" style="overflow:auto;border:5px ridge blue">
            </object>
        </div>
    </div>
</div>

<hr>

<div class="row column">
    <ul class="menu">
    <li><a href="{% url 'home' %}">HOME</a></li>
    <li><a href="{% url 'ourdog' %}">우리개</a></li>
    <li><a href="">등록</a></li>
    <li><a href="{% url 'viewdog' %}">영상보기</a></li>
    </ul>
</div>
{% endblock %}
